:root{
    --main-color: #f9af72;
    --nut-: #f9af72;
    --indigo: #7860e5;
    --grass:#198754;
    --primary: #0b68f4;
    --danger: #dc3545;
}
.body{
    background-color: #f0f0f0;
    overflow-x: hidden;
}
.fredoka {
font-family: "Fredoka", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-size: larger;
font-style: normal;
font-variation-settings:
"wdth" 100;
}
body.dark-overlay::before {
    content: '';
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.1); 
    z-index: 999; 
    pointer-events: none;  
}
.landing-page{
    min-height: 100vh;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing-page .overlay{
    background-color: color(a98-rgb 0 0 0 / 0.35);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.header{
    z-index: 999999;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 12px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.links{
    display: flex;
    justify-content: space-around;
    list-style-type:none ;
    width: 60%;
    margin: 0px;
    padding-left: 0px;
    transition: all 0.3s ease;  
    @media screen and (max-width: 790px) {
        width: 60%;
    }
    @media screen and (max-width: 600px) {
        width: 75%;
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .links {
        display: none;
        flex-direction: column;
        text-align: center;
    }
    
    .links.active {
        display: flex; 
        position: absolute;
        top: 76px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        width: 95%;
        max-height: 318px;
        background-color: rgb(33, 37, 41);
        border-radius: 15px;
        padding: 14px 14px;
        transition: all 0.3s ease;
    }
    .menu-icon {
        display: block!important; 
        cursor: pointer;
    }

    .links a {
        display: block;
        margin: 6px 15px !important;
        text-align: center;
        padding: 10px 0;
        color: white;
        z-index: 999999;
    }

    .links li {
        margin: 6px 0;
        transition: all 0.4s ease-in-out ;
    }
}
.toggle-btn {
    font-size: 18px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}
.links a{
    margin: 0px 10px;
    color: #fff;
    text-decoration: none;
    opacity: 0.4;
    transition: 0.4s;
    
}
.links a.active,
.links a:hover{
    text-decoration: none;
    opacity: 1;
    color: var(--main-color);
    background-color: #f0f0f0;
    padding: 9px 39px;
    border-radius: 28px;
}
.header .logo{
    font-family: "Cairo", sans-serif;
    color: #fff;
    @media screen and (max-width: 600px) {
        width: 40%;
        display: flex;
        justify-content: flex-start;
    }
    transition: all 0.5s ease;
}
.move-right{
    transform: translate(200px);
}
.intro-text{
    color: #fff;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-color{
    color: var(--main-color);
    transition: all 0.2s ease;/
}
.circle{
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.3s ease;
}
.circle:hover{
    transform: scale(1.2);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
}

.whatsapp-icon {
    background: linear-gradient(45deg, #25D366, #128C7E);
}
.facebook-icon {
    background: linear-gradient(45deg, #1877F2, #3b5998); 
}
.twitter-icon {
    background: linear-gradient(45deg, #1DA1F2, #0d8bf2);
}
.instagram-icon {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888); 
}
.linkedin-icon {
    background: linear-gradient(45deg, #0077b5, #005582); 
}
.setting-box{
    min-height: 100vh;
    width: 200px;
    position: fixed;
    top: 0px;
    left: -200px;
    z-index: 9999;
    background-color: #f8f9fa;
    transition: 0.5s; 
}
.open{
    left: 0px;
    z-index: 9999999999999;
}
.setting-icon{
    position: absolute;
    right: -46px;
    top: 120px;
    z-index: 99999;
    background-color: #f8f8f8;
    padding: 7px;
    text-align: center;
    cursor: pointer;
}
.setting-content .options h4{
    margin: 12px 0px;
    color: #555;
    padding: 0px;
}
.colors-list li{
    cursor: pointer;
    opacity: 0.3;
    list-style-type: none;
    width: 25px;
    height: 25px;
    transition: all 0.5s ease;
}
.colors-list li:first-child{
    background-color: var(--nut-);
}
.colors-list li:nth-child(2){
    background-color: var(--danger);
}
.colors-list li:nth-child(3){
    background-color: var(--grass);
}
.colors-list li:nth-child(4){
    background-color: var(--indigo);
}
.colors-list li:nth-child(5){
    background-color: var(--primary);
}
.colors-list li.active{
    opacity: 1;
    border: 1px solid#fff;
}
.icon{
    transition: 0.5s;
}
.rotate-45{
    transform:rotate(150deg) ;
}
.options{
    background-color: rgb(222, 222, 222);
}
.options h4{
    font-size: 16px;
    text-align: center;
}
.random-background button{
    opacity: 0.5;
    color: #fff;
    border: none;
    padding: 5px 16px;
    border-radius: 6px;
    margin-bottom: 11px;
    transition: all 0.3s ease;
}
.random-background button.active, .random-background button:hover{
    opacity: 1;
}
.yes{
    background-color: #198754;
}
.no{
    background-color: var(--danger);
}

/* Start About Us */
.title h2{
    font-size: 10.5rem;
    font-weight: 800;
    color: #5a5a5a;
    opacity: 0.2;
    letter-spacing: 10px;
    transition: all 0.4s ease;
    @media screen and (max-width:700px){
        font-size: 7.5rem; 
    }
    @media screen and (max-width:575px){
        font-size: 6rem; 
    }
    @media screen and (max-width:500px){
        font-size: 5.5rem; 
    }
    @media screen and (max-width:405px){
        font-size: 4rem; 
    }
}
.title h4{
    font-size: 5.5rem;
    font-weight: 600;
    position: absolute;
    letter-spacing: 10px;
    @media screen and (max-width:700px){
        font-size: 4.5rem; 
    }
    @media screen and (max-width:575px){
        font-size: 3.7rem; 
    }
    @media screen and (max-width:500px){
        font-size: 3rem; 
    }
    @media screen and (max-width:405px){
        font-size: 2.5rem; 
    }
}
.about-section{
    
}
/* End About Us */

/* Start Skills */
#skills{
    background-color: #cccccc66;
}
#skills-container{
    width: 90%;
}
.skill-name{
    z-index: 5;
    font-size: 1.2rem;
    position: relative;
    color: rgb(0, 0, 0, 0.9);
    font-weight: 500;
}
.skill-progress span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    transition: all 2s ease;
    display: block;
}
.skill-progress {
    position: relative;
    height: 30px;
    background-color: #cccccc66;
    box-sizing: border-box;
    width: 80%;      
    border-radius: 5px;
    overflow: hidden;
    margin: 5px 20px 5px 10px;
}
.skill-box i{
    font-size: 30px;           
    padding:0px 0px 0px 10px;  
    color: #495057;
}
.html{
    color: #ff7d09 !important;
}
.bs{
    color: var(--indigo) !important;
}
/* End Skills */
